block setups
doctype html
html(lang="pt-br" class="no-js")
	include ./helpers/head.pug
	body.construcao
		main(id="main" role="main")
			img(src="images/construcao.png" alt="Em construção, aguarde novidades" title="Em construção, aguarde novidades")