block setups
doctype html
html(lang="pt-br" class="no-js")
	include ./helpers/head.pug
	body
		include ./includes/navbar.pug
		include ./includes/header.pug
		main(id="main" role="main")
			section(id="portfolio" class="page-section")
			
			section(id="services" class="page-section")
			
			section(id="about" class="page-section")
			
			section(id="contact" class="page-section")
				address
		include ./includes/footer.pug