footer#footer
    .wrapper
        span.copyright © Copyright - 2020 Todos os direitos reservados à Theo Rio
        span.by Produzido por: &nbsp;
            a(href="marllonpanisset.github.io" target="_blank" title="Marllon Panisset") Marllon Panisset
.loading
include ./../helpers/script.pug