header(id="header")
    .wrapper
        h1#logo
            a(href="" title="THEO RIO - SOLUÇÃO EM LIMPEZA") THEO RIO - SOLUÇÃO EM LIMPEZA
                img(src="images/logo.svg" alt="THEO RIO - SOLUÇÃO EM LIMPEZA")
        include ./navbar.pug