
button(aria-label="Abrir Menu" id="menu-bar" class="hamburger hamburger--collapse" type="button")
    span(class="hamburger-box")
        span(class="hamburger-inner")
nav#main-menu
    ul
        li: a(href="index.html" titile="Quem Somos") QUEM SOMOS
        li: a(href="servicos.html" title="Serviços") SERVIÇOS
        li: a(href="contato.html" title="Contato") CONTATO
        li: a(href="produtos.html" title="Produtos") PRODUTOS