html {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */

    &.construcao {
        background: #f8f8f8;
    
        img {
            margin: 0 auto;
        }
    }
}  

.wrapper {
    max-width: 1170px;
    margin: {
        left: auto;
        right: auto;
    }

    @media (min-width: 1px) and (max-width: 359px) {
        padding: {
            left: 25px;
            right: 25px;
        }
    }

    @media (min-width: 360px) and (max-width: 767px) {
        padding: {
            left: 30px;
            right: 30px;
        }
    }
    
    @media (min-width: 768px) {
        padding: {
            left: 40px;
            right: 40px;
        }
    }

    @media (min-width: 1366px) {
        max-width: 1280px;
    }
    
    @media (min-width: 1600px) {
        max-width: 1480px;
    }
    
    @media (min-width: 1800px) {
        max-width: 1600px;
    }
    
    @media (min-width: 1920px) {
        max-width: 1800px;
    }
}

#main {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    position: relative;
    width: 100%;
    float: left;
    padding-top: 80px;
}

.limpando-piscina {
    float: right;
    padding-left: 35px;
}